body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
  }
  
  /* Navbar */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: black;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
    cursor: pointer;
  }
  
  /* Hero */
  .hero {
    height: 80vh;
    background: 
      linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
      url("images/gym-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  
  .hero h2 {
    font-size: 50px;
    color: crimson;
  }
  
  button {
    padding: 12px 30px;
    background: crimson;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Sections */
  section {
    padding: 60px 40px;
  }
  
  .programs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .box {
    background: #222;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
  }
  
  /* Footer */
  footer {
    background: black;
    text-align: center;
    padding: 20px;
  }
  /* MOBILE RESPONSIVE */
@media (max-width: 768px) {

    nav {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      padding: 0;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    .hero h2 {
      font-size: 32px;
    }
  
    .programs {
      grid-template-columns: 1fr;
    }
  
    section {
      padding: 40px 20px;
    }
  
  }
  .trainers {
    text-align: center;
  }
  
  .trainer-box {
    display: inline-block;
    margin: 20px;
  }
  
  .trainer-box img {
    width: 200px;
    border-radius: 10px;
  }
  .pricing {
    text-align: center;
  }
  
  .price-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
  }
  
  .card {
    background: #222;
    padding: 30px;
    width: 260px;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card h3 {
    color: crimson;
  }
  
  .price {
    font-size: 26px;
    margin: 15px 0;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
  }
  
  .card ul li {
    margin: 10px 0;
  }
  
  .popular {
    background: crimson;
  }
  
  .popular h3,
  .popular .price {
    color: white;
  }
  @media (max-width: 768px) {

    .price-cards {
      flex-direction: column;
      align-items: center;
    }
  
  }
  .contact {
    text-align: center;
  }
  
  .contact form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .contact input,
  .contact textarea {
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
  }
  
  .contact textarea {
    height: 120px;
  }
        